.course_header_div {
    background-color: #12adf6;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course_image_style {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    padding-left: 20px; 
}

.course_header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
    font-family: Source Sans Pro, sans-serif;
    padding: 20px;
}

.course_title {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}

.course_content_div {
    display: flex;
    justify-content: center;
}

.course_content {
    cursor: pointer;
    background-color: #12adf6;
    border: none;
    border-radius: 3px;
    padding: 10px;
    font-size: 2rem;
    font-family: Source Sans Pro, sans-serif;
    color: #fff;
    margin: 10px;
}

/* .course_content_div button {
    
} */