/* *{
    margin: 0;
    padding: 0;
} */

.footer_div {
    background-color: #12adf6;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
}

.footer_P {
    font-family: 'Source Sans Pro', sans-serif;
    /* margin-left: 10px; */
    color: #ffffff;
}