.header_wrapper {
    width: 100%;
    background-color: #A2C230;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header_div {
    width: 90%;
    margin: 0, auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header_h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 4rem;
    color: #ffffff;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 20px; 
}

.navLink_div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.navLink_item {
    text-decoration: none;
    margin-left: 20px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 2rem;
    color: #ffffff;
}
.navLink_item:hover {
    font-weight: 400;
    color: #4B6349;
}
.navLink_item:active {
    color: #4B6349;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.hearder_dropdown_content {
    display: flex;
    flex-direction: column;
}

.header_dropdown_content a {
  text-decoration: none;
  color: #ffffff;
  font-size: 2rem;
}

.dropdown:hover .hearder_dropdown_content a {
    display: block;
}