.header_wrapper {
    width: 100%;
    background-color: #12adf6;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header_div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.header_image_div {
    background-color: #12adf6;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header_image_style {
    width: 100px;
    height: 100px;
    background-color: #ffffff;
    margin-top: 10px;
}

.header_h1 {
    font-family: 'Pattaya', sans-serif;
    font-size: 4rem;
    color: #000;
    font-weight: 500;
    line-height: 1.5;
}

.navLink_div {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

.navLink_item {
    text-decoration: none;
    margin-left: 20px;
    font-family: Source Sans Pro, sans-serif;
    font-size: 2rem;
    color: #ffffff;
}
.navLink_item:hover {
    font-weight: 400;
    color: #053896;
}
.navLink_item:active {
    color: #053896;
}

.dropdown {
    position: relative;
    display: inline-block;
}
  
.hearder_dropdown_content {
    display: flex;
    flex-direction: column;
}

.header_dropdown_content a {
 
  color: #ffffff;
  font-size: 2rem;
}

.dropdown:hover .hearder_dropdown_content a {
    display: block;
    text-decoration: none;
}