.login_Wrapper_div {
    margin-top: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #000;
    height: auto;
}

.login_header {
    display: flex;
    justify-content: flex-end;
    color: #30A08A;
    text-decoration: none;
    font-size: 2rem;
    font-family: Source Sans Pro, sans-serif;
    padding-right: 20px;
}

.form_header_div {
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.login_title {
    margin-right: auto;
    font-family: Source Sans Pro, sans-serif;
    font-size: 1.5rem;
    color: #30A08A;
    /* font-weight: 200; */
    line-height: 1.65;
    margin-bottom: 20px;
}

.signup_link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #30A08A;
}

.login_form_ele {
    width: 60%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    border: 2px solid #30A08A;
    border-radius: 5px;
    padding: 50px 0;
    justify-content: center;
    align-items: center;
}

.error_msg {
    font-family: Source Sans Pro, sans-serif;
    color: #ff0000;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.login_formGroup_div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login_label_ele {
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
    color: #30A08A;
}

.login_required {
    color: #ff3300;
    font-weight: 500;
    margin-left: 5px;
}

.login_input_ele {
    margin: 0;
    height: auto;
    border: 1px solid #30A08A;
    border-radius: 3px;
    padding: 6px 0 6px 8px;
    font-size: 1.8rem;
    margin-bottom: 16px;
    background-color: #ffffff;
};

.login_submitbutton {
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 8px 30px;
    font-size: 1.8rem;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
}
.login_submitbutton:hover {
    border-color: #30A08A;
}
.login_submitbutton:disabled{
    opacity: 0.5;
    cursor: not-allowed;
} 