.signup_wrapperdiv {
    margin-top: 0;
    width: 100%;
    background-color: #3399ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    color: #ffffff;
    height: auto;
}

.form_header_div {
    width: 60%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.signup_title {
    margin-right: auto;
    font-family: Source Sans Pro, sans-serif;
    font-size: 3rem;
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin-bottom: 20px;
}

.form_ele {
    width: 60%;
    max-width: 500px;
    margin: 25px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    padding: 50px 25px 50px 25px;
}

.error_msg {
    font-family: Source Sans Pro, sans-serif;
    color: #ff0000;
    font-size: 1.5rem;
    margin-bottom: 10px;  
}

.formGroup_wrapper {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.formGroup_div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.label_ele {
    margin-right: auto;
    margin-bottom: 10px;
    font-size: 1.8rem;
    font-weight: 600;
    font-family: Source Sans Pro, sans-serif;
}

.required {
    color: #ff3300;
    font-weight: 500;
    margin-left: 5px;
}

.input_ele {
    margin: 0;
    height: auto;
    border: none;
    border-radius: 2px;
    padding: 6px 0 6px 8px;
    font-size: 1.8rem;
    margin: 0 0 16px 10px;
    background-color: #ffffff;
}

.button_wrapper {
    display: flex;
    justify-content: center;
}

.submitbutton {
    border: 1px solid #ffffff;
    background-color: transparent;
    padding: 8px 30px;
    font-size: 1.8rem;
    color: #ffffff;
    border-radius: 2px;
    margin-top: 10px;
}
.submitbutton:hover {
    border-color: #9bf1ff;
    color: #9bf1ff;
}
.submitbutton:disabled{
    opacity: 0.5;
    cursor: not-allowed;
}

.validation_error {
    color: #9bf1ff;
    margin: 0 0 10px 0;
    font-size: 1.6rem;
    text-align: center;
}