.edit_profile_title {
    display: flex;
    justify-content: center;
    font-family: Source Sans Pro, sans-serif;
    font-size: 2rem;
    color: #30A08A;
    margin-bottom: 20px;
}

.edit_profile_form {
    width: 60%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid #30A08A;
    background-color: #fff;
    border-radius: 5px;
}

.edit_profile_formgroup_div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;
}

.edit_profile_label_ele {
    margin-right: 10px;
    margin-top: 8px;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: Source Sans Pro, sans-serif;
    color: #30A08A;
}

.edit_profile_input_ele {
    margin: 0;
    height: auto;
    border: 1px solid #30A08A;
    border-radius: 2px;
    padding: 6px 0 6px 8px;
    font-size: 1.5rem;
    margin: 0 0 16px 10px;
    background-color: #ffffff;
}

.editprofile_button_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.editprofile_submitbutton {
    border: 1px solid #ffffff;
    background-color: #fff;
    padding: 8px 20px;
    font-size: 1.5rem;
    color: #30A08A;
    border-radius: 5px;
    margin: 0 10px;
}

.editprofile_submitbutton, NavLink {
    text-decoration: none;
}

.editprofile_submitbutton:hover {
    border-color: #30A08A;
    cursor: pointer;
}

.editprofile_submitbutton:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}